.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cursor-move {
  cursor: move;
}

.cursor-pointer {
  cursor: pointer;
}

.share-button {
  display: inline-block;
  margin-right: 10px;
}

html, body {
  overflow: auto;
}

body {
  background-color: #657181;
}

svg {
  display: block;
}
