.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cursor-move {
  cursor: move;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: #657181;
}

svg {
  display: block;
}
